@import './globals.less';
@import './grid-block-container.less';

.rounded {
  .grid-column-block p.image {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 100%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.6);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .grid-column-block p.image:after {
    display: block;
    padding-bottom: 100%;
    content: '';
  }
}

.columns-tabs-container {
  position: relative;
  .grid-block-wrapper {
    position: relative;
    overflow: hidden;
    .bg {
      background-position: center;
      background-size: cover;
      /* Set up positioning */
      position: absolute;
      top: 0;
      left: 0;
      /* Set up proportionate scaling */
      width: 100%;
      // min-width: 1024px;
      height: 100%;
      /* Set rules to fill background */
      // min-height: 100%;
      // padding: 0;
    }

    .grid-content-container {
      height: 100%;
    }

    .grid-block-container {
      // margin-top: 1.4rem;
      padding: 1.5em 0;
      height: 100%;
      &.in-full-width {
        padding: 0 1rem;
      }
    }
  }

  .ui.grid.grid-block {
    position: relative;
    height: 100%;

    .grid-column {
      .block .block-add-button {
        display: none;
      }

      .block {
        padding: 0;
        margin: 0;

        .block:not(.inner)::before {
          z-index: unset;
          overflow: visible;
          pointer-events: none;
        }
      }

      .block-editor {
        .ui.block.inner {
          margin-bottom: 2em;
        }

        &.last-child {
          .ui.block.inner {
            margin-bottom: 0;
          }
        }
      }
    }

    .grid-column,
    .grid-column .grid-column-block {
      &.aligned {
        &.left {
          text-align: left;

          .public-DraftEditor-content {
            text-align: left;
          }
        }

        &.center {
          text-align: center;

          .public-DraftEditor-content {
            text-align: center;
          }
        }

        &.right {
          text-align: right;

          .public-DraftEditor-content {
            text-align: right;
          }
        }
      }
    }
  }

  &.edit {
    .ui.grid.grid-block {
      .grid-column {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      .ui.drag.slate {
        .delete-button {
          display: none;
        }
      }
    }
  }

  .block-toolbar {
    position: absolute;
    z-index: 10;
    top: -32px;
    left: 0;
    padding: 3px;
    border: none;
    margin: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .wrapper-column-block {
      > .ui.basic.button {
        &:hover {
          background-color: transparent !important;
        }

        &:focus {
          background-color: transparent !important;
        }
      }
    }

    > .ui.basic.button {
      &:hover {
        background-color: transparent !important;
      }

      &:focus {
        background-color: transparent !important;
      }

      svg {
        color: #134448;
      }
    }

    .drag.handle.wrapper-column-block {
      position: initial;
      left: initial;
      min-height: 1em;
      margin-left: initial !important;
      font-size: 1rem;
      line-height: 1em;
      vertical-align: baseline;
    }
  }

  [data-rbd-draggable-context-id] {
    margin-bottom: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem !important;
  }

  p {
    word-break: break-word;
    margin: 0em 0em 1em !important;
  }
}

.block .columns-tabs-container.view {
  p {
    margin: inherit;
  }

  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child {
    margin: inherit;
  }
}

.columns-tabs-sidebar {
  &.no-inline-form-header {
    > .ui.segment,
    > .ui.segment:not(.tab) {
      padding: 0;
      border-top: 0;
      border-bottom: 0;
      box-shadow: none;
    }

    > .ui.segments.form {
      border-top: 0;
      border-bottom: 0;
      box-shadow: none;

      > header {
        display: none;
      }

      > div {
        > .ui.segment {
          padding-top: 0;
        }
      }
    }

    .buttons-wrapper {
      padding: 1em;

      .ui.icon.button {
        border: none;
        background-color: transparent !important;
        box-shadow: none !important;

        :hover {
          background-color: transparent !important;
          box-shadow: none !important;
        }

        :focus {
          background-color: transparent !important;
          box-shadow: none !important;
          outline: none;
        }
      }
    }
  }

  > .ui.segment {
    box-shadow: none;
  }

  > .ui.segment,
  > .ui.segments.form {
    margin-top: 0;
    margin-bottom: 0;
  }

  #blockform-fieldset-default {
    .inline.field {
      padding-bottom: 1em;
    }
  }
}

/* Smallscreen */
@media only screen and (min-width: @smallscreenBreakpoint) and (max-width: @mobileBreakpoint) {
  .ui.grid.grid-block > .row > [class*='one wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='one wide small'].column,
  .ui.grid.grid-block > [class*='one wide small'].column,
  .ui.column.grid.grid-block > [class*='one wide small'].column {
    width: @oneWide !important;
  }

  .ui.grid.grid-block > .row > [class*='two wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='two wide small'].column,
  .ui.grid.grid-block > [class*='two wide small'].column,
  .ui.column.grid.grid-block > [class*='two wide small'].column {
    width: @twoWide !important;
  }

  .ui.grid.grid-block > .row > [class*='three wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='three wide small'].column,
  .ui.grid.grid-block > [class*='three wide small'].column,
  .ui.column.grid.grid-block > [class*='three wide small'].column {
    width: @threeWide !important;
  }

  .ui.grid.grid-block > .row > [class*='four wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='four wide small'].column,
  .ui.grid.grid-block > [class*='four wide small'].column,
  .ui.column.grid.grid-block > [class*='four wide small'].column {
    width: @fourWide !important;
  }

  .ui.grid.grid-block > .row > [class*='five wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='five wide small'].column,
  .ui.grid.grid-block > [class*='five wide small'].column,
  .ui.column.grid.grid-block > [class*='five wide small'].column {
    width: @fiveWide !important;
  }

  .ui.grid.grid-block > .row > [class*='six wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='six wide small'].column,
  .ui.grid.grid-block > [class*='six wide small'].column,
  .ui.column.grid.grid-block > [class*='six wide small'].column {
    width: @sixWide !important;
  }

  .ui.grid.grid-block > .row > [class*='seven wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='seven wide small'].column,
  .ui.grid.grid-block > [class*='seven wide small'].column,
  .ui.column.grid.grid-block > [class*='seven wide small'].column {
    width: @sevenWide !important;
  }

  .ui.grid.grid-block > .row > [class*='eight wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='eight wide small'].column,
  .ui.grid.grid-block > [class*='eight wide small'].column,
  .ui.column.grid.grid-block > [class*='eight wide small'].column {
    width: @eightWide !important;
  }

  .ui.grid.grid-block > .row > [class*='nine wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='nine wide small'].column,
  .ui.grid.grid-block > [class*='nine wide small'].column,
  .ui.column.grid.grid-block > [class*='nine wide small'].column {
    width: @nineWide !important;
  }

  .ui.grid.grid-block > .row > [class*='ten wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='ten wide small'].column,
  .ui.grid.grid-block > [class*='ten wide small'].column,
  .ui.column.grid.grid-block > [class*='ten wide small'].column {
    width: @tenWide !important;
  }

  .ui.grid.grid-block > .row > [class*='eleven wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='eleven wide small'].column,
  .ui.grid.grid-block > [class*='eleven wide small'].column,
  .ui.column.grid.grid-block > [class*='eleven wide small'].column {
    width: @elevenWide !important;
  }

  .ui.grid.grid-block > .row > [class*='twelve wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='twelve wide small'].column,
  .ui.grid.grid-block > [class*='twelve wide small'].column,
  .ui.column.grid.grid-block > [class*='twelve wide small'].column {
    width: @twelveWide !important;
  }

  .ui.grid.grid-block > .row > [class*='thirteen wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='thirteen wide small'].column,
  .ui.grid.grid-block > [class*='thirteen wide small'].column,
  .ui.column.grid.grid-block > [class*='thirteen wide small'].column {
    width: @thirteenWide !important;
  }

  .ui.grid.grid-block > .row > [class*='fourteen wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='fourteen wide small'].column,
  .ui.grid.grid-block > [class*='fourteen wide small'].column,
  .ui.column.grid.grid-block > [class*='fourteen wide small'].column {
    width: @fourteenWide !important;
  }

  .ui.grid.grid-block > .row > [class*='fifteen wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='fifteen wide small'].column,
  .ui.grid.grid-block > [class*='fifteen wide small'].column,
  .ui.column.grid.grid-block > [class*='fifteen wide small'].column {
    width: @fifteenWide !important;
  }

  .ui.grid.grid-block > .row > [class*='sixteen wide small'].column,
  .ui.grid.grid-block > .column.row > [class*='sixteen wide small'].column,
  .ui.grid.grid-block > [class*='sixteen wide small'].column,
  .ui.column.grid.grid-block > [class*='sixteen wide small'].column {
    width: @sixteenWide !important;
  }
}

body {
  @media only screen and (min-width: 767px) {
    &.has-toolbar {
      .columns-tabs-container {
        .full-width {
          position: relative;
          right: calc(50%);
          left: calc(50%);
          width: calc(100vw - 80px) !important;
          max-width: initial !important;
          margin-right: calc(-50vw + 40px) !important;
          margin-left: calc(-50vw + 40px) !important;
        }
      }
    }

    &.has-toolbar.has-sidebar-collapsed {
      .columns-tabs-container {
        .full-width {
          position: relative;
          right: calc(50%);
          left: calc(50%);
          width: calc(100vw - 100px) !important;
          max-width: initial !important;
          margin-right: calc(-50vw + 50px) !important;
          margin-left: calc(-50vw + 50px) !important;
        }
      }
    }

    &.has-toolbar.has-sidebar {
      .columns-tabs-container {
        .full-width {
          position: relative;
          right: calc(50%);
          left: calc(50%);
          width: calc(100vw - 455px) !important;
          max-width: initial !important;
          margin-right: calc(-50vw + 227px) !important;
          margin-left: calc(-50vw + 227px) !important;
        }
      }
    }

    &.has-toolbar-collapsed {
      .columns-tabs-container {
        .full-width {
          position: relative;
          right: calc(50%);
          left: calc(50%);
          width: calc(100vw - 20px) !important;
          max-width: initial !important;
          margin-right: calc(-50vw + 10px) !important;
          margin-left: calc(-50vw + 10px) !important;
        }
      }
    }

    &.has-toolbar-collapsed.has-sidebar {
      .columns-tabs-container {
        .full-width {
          position: relative;
          right: calc(50%);
          left: calc(50%);
          width: calc(100vw - 395px) !important;
          max-width: initial !important;
          margin-right: calc(-50vw + 197px) !important;
          margin-left: calc(-50vw + 197px) !important;
        }
      }
    }

    &.has-toolbar-collapsed.has-sidebar-collapsed {
      .columns-tabs-container {
        .full-width {
          position: relative;
          right: calc(50%);
          left: calc(50%);
          width: calc(100vw - 40px) !important;
          max-width: initial !important;
          margin-right: calc(-50vw + 20px) !important;
          margin-left: calc(-50vw + 20px) !important;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .columns-tabs-container {
      .block-container,
      .grid-content-container {
        height: auto !important;
        min-height: 600px;
      }
    }
  }
}

body.overlay-scrollbar {
  overflow-y: overlay;
}
